* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-page);
}

button,
input,
select,
textarea {
    appearance: unset;
    font: inherit;
    border: none;
    background: none;
}

:root {
    --bg-page: #18191B;
    --bg-primary: #212426;
    --border-primary: #51565d;
    --text-primary: #FFFFFF;
    --text-secondary: #E4E6EB;
    --bg-tab-hover: #072446;
    --text-tab-hover: #a4cefe;
}

.page-header {
    background-color: var(--bg-page);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
}

.header-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-tab {
    position: relative;
}

.nav-tab__button {
    color: var(--text-primary);
    font-size: 14px;
    padding: 10px 15px;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-tab__button::after {
    content: "";
    mask-image: url('./img/chevron.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 16px;
    background-color: currentColor;
}

.nav-tab__button:hover,
.nav-tab.active .nav-tab__button {
    background-color: var(--bg-tab-hover);
    color: var(--text-tab-hover);
}

.nav-tab.active .nav-tab__button::after {
    transform: rotate(180deg);
}

.nav-tab__dropdown {
    position: absolute;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-primary);
    top: 100%;
    display: none;
    flex-direction: column;
    min-width: 150px;
    padding: 15px;
    gap: 10px;
    z-index: 1000;
}

.nav-tab__dropdown a {
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: 4px;
}

.nav-tab__dropdown a:hover {
    text-decoration: underline;
}

.nav-tab.active .nav-tab__dropdown {
    display: flex;
}
